@tailwind base;
@tailwind components;
@tailwind utilities;


/* mobile navigation panel */
.fixed-position {
    position:fixed;
    max-width: 100%;;
}

#nav_panel {
    display: none;
}
#nav_panel.active {
    
    animation: scale-display .3s;
    display: block;
}
#nav_panel.out {
    
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
    display: block;
}

@keyframes scale-display { /* show menu animation */
    0% {
        opacity: 0;
        transform:translateX(100%);
    }
    100% {
        opacity: 1;
        transform:translateX(0%);
    }
}
  
@keyframes scale-display--reversed { /* hide menu animation */
    0% {
        display: block;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    99% {
        display: block;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        display: none;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

/* Read project page - content */
.post-content blockquote {
    padding: .9375rem 1.25rem;
    margin: .625rem 0;
    border-left: .3125rem solid rgb(255 255 255 / 50%);
    background: linear-gradient(40deg, #ffffff0c, transparent);
}
.post-content hr {
    margin: 20px 0 13px 0;
    opacity: 0.5;
}
.post-content a {
    color: #22d3ee;
}
.post-content a:hover {
    color: #22d3eeb2;
}
.post-content ol {
    margin-left: 30px;
    margin: 10px 0px 10px 40px;
    list-style-type: decimal;
}
.post-content ul {
    margin-left: 30px;
    margin: 10px 0px 10px 40px;
    list-style-type: circle;
}
.post-content p:empty:before {
    content: ' ';
    white-space: pre;
}